*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(#ddd, #333, 50%);
}
h1{
    margin: 30px;
    color: green;
    font-size: 22pt;
}